In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("dataset.csv")

In [3]:
data.head()

   Age  Gender  Blood Pressure Cholesterol Blood Sugar Disease
0   58  Female             112         Low        High      No
1   25    Male             130         Low        High      No
2   19  Female             151        High        High     Yes
3   65  Female              98         Low         Low      No
4   35  Female             132         Low         Low     Yes

In [4]:
data.tail()

      Age  Gender  Blood Pressure Cholesterol Blood Sugar Disease
4995   47    Male             124        High        High     Yes
4996   38  Female             142        High        High      No
4997   44  Female              91         Low        High     Yes
4998   25    Male             143        High        High      No
4999   52  Female             142        High         Low     Yes

In [5]:
data.isnull().sum()

Age               0
Gender            0
Blood Pressure    0
Cholesterol       0
Blood Sugar       0
Disease           0
dtype: int64

In [6]:
data.info

<bound method DataFrame.info of       Age  Gender  Blood Pressure Cholesterol Blood Sugar Disease
0      58  Female             112         Low        High      No
1      25    Male             130         Low        High      No
2      19  Female             151        High        High     Yes
3      65  Female              98         Low         Low      No
4      35  Female             132         Low         Low     Yes
...   ...     ...             ...         ...         ...     ...
4995   47    Male             124        High        High     Yes
4996   38  Female             142        High        High      No
4997   44  Female              91         Low        High     Yes
4998   25    Male             143        High        High      No
4999   52  Female             142        High         Low     Yes

[5000 rows x 6 columns]>

In [7]:
data.describe

<bound method NDFrame.describe of       Age  Gender  Blood Pressure Cholesterol Blood Sugar Disease
0      58  Female             112         Low        High      No
1      25    Male             130         Low        High      No
2      19  Female             151        High        High     Yes
3      65  Female              98         Low         Low      No
4      35  Female             132         Low         Low     Yes
...   ...     ...             ...         ...         ...     ...
4995   47    Male             124        High        High     Yes
4996   38  Female             142        High        High      No
4997   44  Female              91         Low        High     Yes
4998   25    Male             143        High        High      No
4999   52  Female             142        High         Low     Yes

[5000 rows x 6 columns]>

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [9]:
data.iloc[:,1] = le.fit_transform(data.iloc[:,1])
data.iloc[:,3] = le.fit_transform(data.iloc[:,3])
data.iloc[:,4] = le.fit_transform(data.iloc[:,4])
data.iloc[:,5] = le.fit_transform(data.iloc[:,5])

In [10]:
data.head()

   Age  Gender  Blood Pressure  Cholesterol  Blood Sugar  Disease
0   58       0             112            1            0        0
1   25       1             130            1            0        0
2   19       0             151            0            0        1
3   65       0              98            1            1        0
4   35       0             132            1            1        1

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
y = data['Disease']
x = data.drop(['Disease'], axis = 1)

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [14]:
x_train,y_train

(      Age  Gender  Blood Pressure  Cholesterol  Blood Sugar
 199    47       0             112            0            0
 1827   72       1             104            1            0
 4295   25       0             151            1            0
 1632   69       1             116            1            1
 1461   67       1              91            0            1
 ...   ...     ...             ...          ...          ...
 3033   20       1             129            1            1
 1674   35       0             131            0            1
 3553   70       1             100            1            0
 3360   67       1             106            0            0
 322    45       1             150            0            1

 [4000 rows x 5 columns],
 199     0
 1827    1
 4295    1
 1632    0
 1461    0
        ..
 3033    0
 1674    1
 3553    0
 3360    0
 322     1
 Name: Disease, Length: 4000, dtype: int32)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
# Create a logistic regression model
logreg = LogisticRegression()

# Fit the model to the training data
logreg.fit(x_train, y_train)

LogisticRegression()

In [17]:
y_pred = logreg.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score, classification_report

print("Accuracy:", accuracy_score(y_test, y_pred))


print("Classification report:", classification_report(y_test, y_pred))

Accuracy: 0.506
Classification report:               precision    recall  f1-score   support

           0       0.49      0.75      0.59       481
           1       0.55      0.28      0.37       519

    accuracy                           0.51      1000
   macro avg       0.52      0.51      0.48      1000
weighted avg       0.52      0.51      0.48      1000

In [19]:
from sklearn.metrics import f1_score
# Calculate the F1 score
f1 = f1_score(y_test, y_pred)

# Print the F1 score
print("F1 score:", f1)

F1 score: 0.36989795918367346

In [20]:
from sklearn.metrics import precision_score
# calculate the precision of the model
precision = precision_score(y_test, y_pred)

print("Precision:", precision)

Precision: 0.5471698113207547